

<div class="col-12 global-content-padding dining-content">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item" [ngClass]="{'active' : i === 0}" *ngFor="let item of carasoulImages ; let i=index" >
          <img [src]="item.img" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
      </button>
    </div>
    
    <div class="container Content">
        <div class="data" *ngFor="let item of Content ; let i=index" >
            <img [src]="item.img != '' ? item.img : 'assets/white.jpg'" class="sideImg" alt="">
            <div>
              <p class="title">{{item.title}}</p>
              <p class="paragraph">{{item.paragraph}}</p>
            </div>
        </div>
    </div>
</div>
