

*{
    box-sizing: border-box;
    transition: all .5s;
}
@media screen and (max-width:991px) {
    .navbar-brand img{
        height: 106px;
    }
    div.col-12 .navbar-light{
        padding-left: 0%;
        padding-right: 0%;
        padding-bottom: 15px;
    }
    .navbar-light .container{
        max-width: 100%;
    }
    .container .navbar-collapse{
        margin-top: 8px;
        margin-bottom: 20px;
        padding-bottom: 4px;
    }
    .navbar-nav .nav-item{
        border: none;
    }
    .navbar-nav .nav-item:first-of-type:hover{
        border-top-left-radius: 14px;
        border-bottom-left-radius: 0px;
    }
    .navbar-nav .nav-item:last-of-type:hover{
        border-top-right-radius: 0px;
        border-bottom-left-radius: 14px;
    }
    .navbar-nav .nav-item{
        border-bottom: 1px solid #efefefa3;
    }
    .navbar-nav .nav-item:last-of-type{
        border: none;
    }
    .nav-item.dropdown{
        padding: 0px;
    }
}
@media screen and (max-width: 576px){
    .col-12.header{
        position: relative;
    }
    .navbar-light .container{
        max-width: 100%;
    }
}
.header{
    position: fixed;
    z-index: 2;
    box-shadow: 0px 0px 10px;
}
.navbar-light{
    background-color: #f3dce4de;
}
.logo{
    height: 135px;
    padding: 10px;
}
.navbar-collapse {
    flex-grow: 0;
    box-shadow: inset 2px 5px 9px #d9d9d9, inset -2px -2px 7px #8f8585, 0px 0px 5px #898989;
    border-radius: 14px;
}
.nav-item{
    padding: 3px;
    color: white;
    font-weight: 400;
    border-right: 1.5px solid deeppink;
    display: flex;
    align-items: center;
}
.nav-item:hover{
    background-color: rgb(207 203 203);
}
.active{
    background-color: rgb(207 203 203);
    border-radius: 5px;
    border: none;
}
.nav-item:last-of-type{
    border: none;
}
.nav-item:first-of-type:hover{
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}
.nav-item:last-of-type:hover{
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}
.nav-link{
    color: white;
    font-weight: 400;
    margin: 0px 16px;
    text-transform: uppercase;
    font-size:13px;
    text-align: center;
}
.dropdown-menu{
    padding: 0px;
    margin-top: 4px;
}
.dropdown-menu .dropdown-item{
    color: white;
    background-color: #e691ff;
    text-align: center;
    padding: 10px;
    margin-bottom: 2px;
    border-radius: 5px;
}
.dropdown-menu .dropdown-item:hover{
    background-color: rgb(221 221 221);
}
.drop-item-edit{
    border-radius: 0% !important;
}