<!-- ----- mall-location ------- -->
<div class="col-12 content">
    <!-- ----- mall-location ------- -->
    <div class="col-12">
      <div class="d-flex justify-content-center">
        <h1 class="part-title">mall-location part </h1>
      </div>
      <div class="col-12 d-flex justify-content-end">
        <div class="btn btn-info text-light" (click)="openPart('form','carasoul-form','add')">add data</div>
        <div class="btn btn-info text-light" (click)="openPart('table data','mall-location-carsouel','')">show carsouel</div>
      </div>
      <!-- promo show on edit any data  -->
      <div class="col-12 update-View" *ngIf="sectionViewController=='edit'">
        <div class="row check-data text-center">
          <div class="card">
            <p><img src="{{updateObject.img}}"  class="imgView" alt="" *ngIf="updateObject.img !='' && updateObject.img !=null && updateObject !=undefined"></p>
            <p [ngStyle]="{'display' : edit_control =='mall-location-carsouel' ? 'block' : 'none'}" >carsouel view</p>
            <p [ngStyle]="{'display' : edit_control =='mall-location-products' ? 'block' : 'none' } ">product view</p>
          </div>
        </div>
      </div>
      <!-- mall-location forms -->
      <div *ngIf="partViewController=='form'">
        <div class="col-12 dash-content p-2" *ngIf="sectionViewController == 'add' || (sectionViewController== 'edit' && edit_control=='mall-location-carsouel')">
          <!-- carsouel form -->
          <form [formGroup]="MallLocation" class="card p-2" (ngSubmit)="sendCarasoul(edit_control,sectionViewController)" >
              <label for="logo">mall-location Carasoul Image : </label>
              <input type="file" accept=".jpg , .png , .jpeg , .webp "  class="form-control" id="logo"  (change)=" uploadCarasoul($event,'mall-location-carsouel')">
              <span class="text-warning" *ngIf="uploadingCarasoul == 'uploadingCarasoul' "> uploading ... </span> <span><img [src]="CarasoulURL" alt="" class="logo-photo"  *ngIf="uploadingCarasoul == 'CarasoulUploaded'"></span>
              <div class="text-center">
                  <button type="submit" class="btn btn-secondary "  *ngIf="uploadingCarasoul == 'CarasoulUploaded'">save</button>
              </div>
          </form>
        </div>
      </div>
  
      <!-- data table -->
      <div class="col-12 table-div" *ngIf="partViewController=='table data'">
        <p class="part-view">{{parttext}}</p>
        <table class="table table-striped text-center">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">carasoul</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of datalist;let i=index">
              <th scope="row" class="item">{{i+1}}</th>
              <td><img [src]="item.img" class="imgView" alt=""></td>
              <td class="item">
                <button class="btn btn-warning m-1" (click)="openPart('form',edit_control,'edit');update(item,'edit')">edit</button>  
                <button class="btn btn-danger m-1" (click)="DeleteSure(item)">delete</button>  
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
      <!-- deleted item div -->
      <div class="col-12 delete-show" *ngIf="showDeleteDiv">
        <div class="row check-data">
          <div class=" card">
            <p><img [src]="deletedObject.img" class="imgView" alt=""></p>
            <p *ngIf="edit_control=='mall-location-carsouel'" >carsouel view</p>
            <div class="text-center">
              <div class="btn btn-danger" (click)="deleteDone()">delete</div>
              <div class="btn btn-secondary" (click)="cancel_delete()">cancel</div>
            </div>  
          </div>
        </div>
      </div>
  </div>
  
  
  
  
  