<!-- <p>footer works!</p> -->
<div class="col-12 bg-pink footer">
    <div class="row">
        <div class="col links">
            <a href="" class="link"><i class="bi bi-facebook"></i></a>
            <a href="" class="link"><i class="bi bi-instagram"></i></a>
            <a href="" class="link"><i class="bi bi-twitter"></i></a>
        </div>
        <div class="col">
            <img src="assets/البيرق لوجو.png" alt="">
        </div>
        <div class="col">
            <p class="text">One idea for a commercial mall is to provide a group of diverse services in a place, such as variety, stores, games, and other entertainment facilities.</p>
        </div>
    </div>
</div>