

*{
    box-sizing: border-box;
    transition: all .5s;
}
@media (min-width: 992px){
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 8px 10px;
    }
}
@media screen and (max-width:991px) {
    .navbar-brand img{
        height: 106px;
    }
    div.col-12 .navbar-light{
        padding-left: 1%;
        padding-right: 1%;
    /* padding-bottom: 15px;*/
    }
    .navbar-light .container{
        max-width: 100%;
    }
    .container .navbar-collapse{
        margin-top: 8px;
        // margin-bottom: 20px;
        padding-bottom: 4px;
    }
    .navbar-nav .nav-item{
        border: none;
        padding: 0px;
    }
    .nav-item .nav-link{
        text-align: left;
        font-size: 11px;
    }
    .navbar-nav .nav-item:first-of-type:hover{
        border-top-left-radius: 14px;
        border-bottom-left-radius: 0px;
    }
    .navbar-nav .nav-item:last-of-type:hover{
        border-top-right-radius: 0px;
        border-bottom-left-radius: 14px;
    }
    .navbar-nav .nav-item{
        border-bottom: 1px solid #efefefa3;
    }
    .navbar-nav .nav-item:last-of-type{
        border: none;
    }
    .nav-item.dropdown{
        padding: 0px;
    }
    .nav-item.dropdown .nav-link{
        width: 100%;
    }
    .nav-item.dropdown .dropdown-menu {
        position: absolute;
        min-width: 100%;
        margin-top: 9px;
    }
    .dropdown-menu li .dropdown-item{
        font-size: 11px;
        padding: 8px;
    }
}
@media screen and (max-width: 576px){
    .col-12.header{
        position: relative;
    }
    .navbar-light .container{
        max-width: 100%;
    }
}
.navbar-toggler{
    margin-right: 5px;
    border: none;
}
.navbar-toggler:focus{
    box-shadow: none;
}
// .navbar-toggler-icon{
//     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba( 255, 255, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
// }
.header{
    position: fixed;
    z-index: 2;
    box-shadow: 0px 0px 10px;
}
.logo{
    height: 105px;
    padding: 10px;
}
.navbar-collapse {
    flex-grow: 0;
    box-shadow: inset 2px 5px 9px #d9d9d9, inset -2px -2px 7px #8f8585, 0px 0px 5px #898989;
    border-radius: 14px;
}
.nav-item{
    padding: 2px;
    color: white;
    font-weight: 400;
    border-right: 1.5px solid deeppink;
    display: flex;
    align-items: center;
}
.nav-item:hover{
    background-color: rgb(73 73 73 / 82%);
}
.active{
    background-color: rgb(73 73 73 / 82%);
    border-radius: 5px;
    border: none;
}
.nav-item:last-of-type{
    border: none;
}
.nav-item:first-of-type:hover{
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}
.nav-item:last-of-type:hover{
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}
.nav-link{
    color: white;
    font-weight: 400;
    margin: 0px 6px;
    font-size:11.5px;
    text-align: center;
}
a{
    text-transform: uppercase;
}
.dropdown-menu{
    padding: 0px;
    margin-top: 4px;
    width: fit-content;
    min-width: fit-content;
}
.dropdown-menu .dropdown-item{
    color: white;
    padding: 10px;
    border-radius: 5px;
    border-bottom: 1px solid;
    font-size: 12px;
}
.dropdown-menu .dropdown-item:hover{
    background-color: rgb(221 221 221);
}
.drop-item-edit{
    border-radius: 0% !important;
}