<div class="col-12 header bg-light" *ngIf="display">
    <nav class="container navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img class="logo" src="assets/البيرق لوجو.png" alt="البيرق لوجو"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse bg-pink" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item"  routerLink="" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact :true}">
              <a class="nav-link" aria-current="page">Home</a>
            </li>
            <li class="nav-item" routerLink="clothing" [routerLinkActive]="'active'" >
              <a class="nav-link">clothing</a>
            </li>
            <li class="nav-item" routerLink="accessories" [routerLinkActive]="'active'" >
              <a class="nav-link">Accessories</a>
            </li><li class="nav-item" routerLink="perfumes" [routerLinkActive]="'active'" >
              <a class="nav-link">perfumes & cosmeties</a>
            </li><li class="nav-item" routerLink="dining" [routerLinkActive]="'active'" >
              <a class="nav-link">dining</a>
            </li>
            <li class="nav-item" routerLink="entertainment" [routerLinkActive]="'active'" >
              <a class="nav-link">entertainment</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" routerLink="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                more
              </a>
              <ul class="dropdown-menu bg-pink" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" routerLink="opening-hours">OPENING HOURS</a></li>
                <li><a class="dropdown-item drop-item-edit" routerLink="mall-location">MALL LOCATION</a></li>
                <li><a class="dropdown-item drop-item-edit" routerLink="store-location">STORE LOCATION</a></li>
                <li><a class="dropdown-item" routerLink="services">services</a></li>
                <li><a class="dropdown-item" routerLink="contact-us">CONTACT US</a></li>
                <li><a class="dropdown-item" routerLink="about">About Albairaq</a></li>
              </ul>
            </li>
          </ul>
        </div>
    </nav>
</div>