
@media screen and (max-width: 600px){
    .container .data{
        padding: 10px;
    }
    .data .paragraph{
        font-size: 14px;
        text-align: center;
        font-weight: 500;
    }
}
.container{
    background-color: white;
    padding: 0%;
}
.paragraph{
    font-family: 'Fira Sans', sans-serif;
    border:  1px solid #BC0EC2;
    font-weight: 700;
    padding: 10px;
    text-align: center;
}
.data{
    padding: 20px;
}
p{
    margin-bottom: 1px;
}