

.container{
    background-color: white;
    padding: 0%;
}
.paragraph{
    font-family: 'Fira Sans', sans-serif;
    border:  1px solid #BC0EC2;
    font-weight: 700;
    padding: 10px;
}
.data{
    padding: 20px;
}
p{
    margin-bottom: 1px;
}