<div class="col-12 global-content-padding dining-content">
    <div class="container">
      <p class="text-center text-dark promo-text">store location</p>
      <div class="col-12 store Content"  *ngFor="let item of list">
            <img [src]="item.img" alt="">
        </div>
        <!-- <div class="col-12 store">
            <div class="shopsText">
                <div class="row">
                    <div class="col-sm-4">
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                    </div>
                    <div class="col-sm-4">
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                    </div>
                    <div class="col-sm-4">
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                        <p>1-Nooran</p>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>
