
.container{
    background-color: white;
    padding: 0%;
}
.title{
    color: #BC0EC2;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    font-size: 19px;
    padding: 6px;
}
.paragraph{
    font-family: 'Fira Sans', sans-serif;
}
.data{
    padding: 15px;
}
p{
    margin-bottom: 1px;
}