*{
    padding: 5px;
}

.leftside{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
}
.nav-link{
    text-transform: capitalize;    
}
.nav-link:hover{
    background-color: #0d6efd;
}
.content{
    position: fixed;
    top: 0px;
    left: 285px;
    height: 100vh;
    overflow: auto;
    width: calc(100% - 295px);
}
label{
    text-transform: capitalize;
}
.card{
    margin-top: 20px;
    margin-bottom: 15px;
}
.part-title{
    text-align: center;
    font-size: 15px;
    margin: 5px;
    background-color: aliceblue;
    padding: 15px 30px;
    width: fit-content;
    border-radius: 0px 25px;
    text-transform: capitalize;
    color: cadetblue;
}
.btn-secondary{
    padding:  5px 13px;
}
.imgView{
    height: 100px;
    width: 150px;
    border-radius: 13px;
}
.table-div{
    height: 496px;
    overflow: auto;
    border: 1px solid lightgray;
}
.item{
    padding-top: 35px;
}
.btn{
    font-size: 13px;
    color: white;
    text-transform: capitalize;
    margin: 2px;
}
.part-view{
    text-align: center;
    color: #7f8ea5;
    font-size: 15px;
    text-transform: capitalize;
    margin-bottom: 0px;
    font-weight: 600;
}


.delete-show{
    background-color: whitesmoke;
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 77%;
    margin-top: 128px;
    width: 98%;
    z-index: 2;
}
.check-data{
    width: 100%;
}
.delete-show .card{
    max-width: 100%;
    text-align: center;
    padding: 10px;
}

