
<div class="col-12 content">
  <!-- ----- Home ------- -->
  <div class="col-12">
    <div class="d-flex justify-content-center">
      <h1 class="part-title">home part </h1>
    </div>
    <div class="col-12 d-flex justify-content-end">
      <div class="btn btn-info text-light" (click)="openPart('form','carasoul-form','add')">add data</div>
      <div class="btn btn-info text-light" (click)="openPart('table data','home-products','')">show products</div>
      <div class="btn btn-info text-light" (click)="openPart('table data','home-carsouel','')">show carsouel</div>
    </div>
    <div *ngIf="partViewController=='form'">
      <div class="col-12 dash-content p-2" *ngIf="sectionViewController == 'add' || (sectionViewController== 'edit' && edit_control=='home-carsouel')">
        <form [formGroup]="homeImg" class="card p-2" (ngSubmit)="sendCarasoul(edit_control,sectionViewController)" >
            <label for="logo">home Carasoul Image : </label>
            <input type="file" class="form-control" id="logo"  (change)=" uploadCarasoul($event,'home-carsouel')">
            <span class="text-warning" *ngIf="uploadingCarasoul == 'uploadingCarasoul' "> uploading ... </span> <span><img [src]="CarasoulURL" alt="" class="logo-photo"  *ngIf="uploadingCarasoul == 'CarasoulUploaded'"></span>
            <div class="text-center">
                <button type="submit" class="btn btn-secondary "  *ngIf="uploadingCarasoul == 'CarasoulUploaded'">save</button>
            </div>
        </form>
      </div>
      <div class="col-12 dash-content p-2" *ngIf="sectionViewController == 'add' || (sectionViewController== 'edit' && edit_control=='home-products')">
        <form [formGroup]="homeImg" class="card p-2" (ngSubmit)="sendCarasoul(edit_control,sectionViewController)" >
            <label for="logo2">home Product Image : </label>
            <input type="file" class="form-control" id="logo2"  (change)=" uploadImg($event,'home-products')">
            <span class="text-warning" *ngIf="uploadingImg == 'uploadingImg'"> uploading ... </span> <span><img [src]="productURL" alt="" class="logo-photo"  *ngIf="uploadingImg == 'imgUploaded'"></span>
            <div class="text-center">
                <button type="submit" class="btn btn-secondary " *ngIf="uploadingImg == 'imgUploaded'" >save</button>
            </div>
          </form>
      </div>
    </div>
    <div class="col-12 table-div" *ngIf="partViewController=='table data'">
      <p class="part-view">{{parttext}}</p>
      <table class="table table-striped text-center">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">carasoul</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of datalist;let i=index">
            <th scope="row" class="item">{{i+1}}</th>
            <td><img [src]="item.img" class="imgView" alt=""></td>
            <td class="item">
              <button class="btn btn-warning m-1" (click)="openPart('form',edit_control,'edit');update(item,'edit')">edit</button>  
              <button class="btn btn-danger m-1" (click)="deleteItem(item,'delete')">delete</button>  
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  
  <!-- ----- Services ------- -->
  <div class="col-12" *ngIf="viewController == 'Services'">
    <div class="d-flex justify-content-center">
      <h1 class="part-title">Services part </h1>
    </div>
    <div class="col-12 dash-content p-2">
      <form [formGroup]="homeImg" class="card p-2" (ngSubmit)="sendCarasoulServices()" >
          <label for="logo">Services Carasoul Image : </label>
          <input type="file" class="form-control" id="logo"  (change)=" uploadServicesCarasoul($event)">
          <span class="text-warning" *ngIf="uploadingCarasoul == 'uploadingServicesCarasoul' "> uploading ... </span> <span><img [src]="CarasoulServicesURL" alt="" class="logo-photo"  *ngIf="uploadingCarasoul == 'uploadedServicesCarasoul'"></span>
          <div class="text-center">
              <button type="submit" class="btn btn-secondary "  *ngIf="uploadingCarasoul == 'uploadedServicesCarasoul'">save</button>
          </div>
        </form>
    </div>
    <div class="col-12 dash-content p-2">
      <form [formGroup]="dining_or_Services" class="card p-2" (ngSubmit)="sendServicesData()" >
          <div class="form-group">
            <label for="Title">Services Title : </label>
            <input type="text" class="form-control" id="Title" formControlName="title">
          </div>
          <div class="form-group">
            <label for="logo">Services Pragraph : </label>
            <input type="text" class="form-control" id="logo" formControlName="paragraph">
          </div>
          <div class="text-center">
              <button type="submit" class="btn btn-secondary " >save</button>
          </div>
        </form>
    </div>
  </div>
  <!-- ----- About ------- -->
  <div class="col-12" *ngIf="viewController == 'About'">
    <div class="d-flex justify-content-center">
      <h1 class="part-title">About part </h1>
    </div>
    <div class="col-12 dash-content p-2">
      <form [formGroup]="homeImg" class="card p-2" (ngSubmit)="sendCarasoulAbout()" >
          <label for="logo">About Carasoul Image : </label>
          <input type="file" class="form-control" id="logo"  (change)=" uploadAboutCarasoul($event)">
          <span class="text-warning" *ngIf="uploadingCarasoul == 'uploadingAboutCarasoul' "> uploading ... </span> <span><img [src]="CarasoulAboutURL" alt="" class="logo-photo"  *ngIf="uploadingCarasoul == 'uploadedAboutCarasoul'"></span>
          <div class="text-center">
              <button type="submit" class="btn btn-secondary "  *ngIf="uploadingCarasoul == 'uploadedAboutCarasoul'">save</button>
          </div>
        </form>
    </div>
    <div class="col-12 dash-content p-2">
      <form [formGroup]="About" class="card p-2" (ngSubmit)="sendAboutData()" >
          <div class="form-group">
            <label for="logo">About Pragraph : </label>
            <textarea type="text" class="form-control" id="logo" formControlName="paragraph" cols="5" rows="5"></textarea>
          </div>
          <div class="text-center">
              <button type="submit" class="btn btn-secondary " >save</button>
          </div>
        </form>
    </div>
  </div>
</div>




