*{
    margin: 5px 0px;
}
.card{
    height: 300px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
p{
    font-size: 12px;
}
span{
    color: cadetblue;
    font-weight: 600;
    line-break: anywhere;
}
textarea{
    outline: none;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 7px;
    font-size: 12px;
}