<div class="col-12 bg-pink global-content-padding dining-content">
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" >
              <img  src="assets/4.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" >
                <img  src="assets/Roads.jpg" class="d-block w-100" alt="...">
              </div>
          </div>
        </div>
    </div>
    
    <div class="container">
        <div class="col-12 location">
            <div class="col-sm-5">
                <img src="assets/1.webp" alt="">
            </div>
            <div class="col-sm-4">
                <div class="parag-div">
                    <p>Al Bairaq connects three highways; Fahaheel Highway from East, Al Safar Road from West & Al Gous Road contiguous to Fintas Center from West, which makes it very easy to reach in short time.</p>
                </div>
            </div>
        </div>
    </div>
</div>
