

@media screen and (max-width: 600px){
    .container .location p{
        font-size: 14px;
    }
    .col-12.location {
        display: block;
    }
}


.container{
    padding: 0%;
    background-color: white;
    padding-bottom: 40px;
}
.location{
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
.location img{
    width: 100%;
}
.col-sm-4{
    display: flex;
    align-items: center;
}
.location p{
    line-height: 35px;
    font-weight: 700;
    padding: 20px;
}