*{
    padding: 5px;
}

label{
    text-transform: capitalize;
}
.card{
    margin-top: 20px;
    margin-bottom: 15px;
}
.part-title{
    text-align: center;
    font-size: 15px;
    margin: 5px;
    background-color: aliceblue;
    padding: 15px 30px;
    width: fit-content;
    border-radius: 0px 25px;
    text-transform: capitalize;
    color: cadetblue;
}
.btn-secondary{
    padding:  5px 13px;
}
.imgView{
    height: 100px;
    width: 150px;
    border-radius: 13px;
}
.table-div{
    height: 496px;
    overflow: auto;
    border: 1px solid lightgray;
}
.titleContent{
    padding-top: 25px;
    color: rgb(156, 0, 140) !important;
}
.paragraphContent{
    width: 40%;
}
.paragraphContent p{
    font-size: 12px;
}
.item{
    padding-top: 35px;
}
.btn{
    font-size: 13px;
    color: white;
    text-transform: capitalize;
    margin: 2px;
}
.part-view{
    text-align: center;
    color: #7f8ea5;
    font-size: 15px;
    text-transform: capitalize;
    margin-bottom: 0px;
    font-weight: 600;
}



.delete-show{
    background-color: whitesmoke;
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 77%;
    margin-top: 148px;
    width: 98%;
    z-index: 2;
}
.check-data{
    width: 100%;
}
.delete-show .card{
    max-width: 100%;
    text-align: center;
    padding: 10px;
}

