

@media screen and (max-width: 992px){
    div.container{
        max-width: 100%;
    }
}
@media screen and (max-width: 991px) and (min-width: 600px){
    .row .productImg img{
        height: 170px;
    }
    .showImg .carousel-inner .carousel-item img{
        height: 470px !important;
    }
}
@media screen and (max-width: 600px){
    // div #carouselExampleIndicators .carousel-control-prev .carousel-control-prev-icon,
    // div #carouselExampleIndicators .carousel-control-next .carousel-control-next-icon
    // {
    //     width: 1rem;
    // }
    .products .btnSeeDiv{
        margin-left: -3%;
    }
    div.showImg{
        padding-top: 30px;
        align-items: flex-start;
    }
    .showImg .carousel{
        margin-top: 55px;
    }
    .showImg .carousel .carousel-inner .carousel-item{
        padding-left: 30px;
        padding-right: 30px;
    }
    .showImg .carousel .carousel-inner .carousel-item img{
        height: 291px !important;
        width: 100% !important;
        margin-top: 87px;
    }
    .showImg .btn-close{
        font-size: 15px;
        margin: 8px;
        border: 1px solid gray;
        padding: 4px;
        margin-top: 4px;
    }
    .carousel .product-arrows{
        width: 21px;
        margin-top: 20px;
    }
    .carousel-control-prev .carousel-control-prev-icon{
        left: 5px;
    }
    .carousel-control-next .carousel-control-next-icon{
        right: 5px;
    }
    .Content .promo-text{
        font-size: 15px
    }
    .row .productImg{
        padding: 5px;
    }
    
    .carousel-item .button-link-div{
        width: 100%;
    }
}
// -------------------------------- carasouel --------------------------------- 
.Content{
    padding-bottom: 50px;
    padding-top: 5px;
}
.bg-light{
    background-color: white !important;
}
.col-lg-4{
    padding: 10px;
    float: left;
}
.col-lg-8 img{
    border-radius: 10px;
    margin: 10px;
    margin-top: 20px;
}
.promo-text {
    font-size: 21px;
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 0px;
}
.container {
    overflow: hidden;
    position: relative;
}

// -------------------------------- product Img --------------------------------- 

.productImg img{
    width: 90%;
    height: 230px;
    margin: 5px;
    border-radius: 10px;
    // border: 1px solid #c109ef;
    margin-left: 5%;
}
.productImg{
    padding: 8px;
}
.productImg img:hover{
    filter: brightness(55%);
}

// -------------------------------- show Img --------------------------------- 

.showImg{
    position: fixed;
    top: 0px;
    z-index: 2;
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.showImg .carousel{
    position: relative;
    height:470px;
    width: 800px ;
    z-index: 1;
}
.showImg .carousel .carousel-item{
    padding-left: 15%;
}
.showImg img{
    height: 470px;
    width: 82% !important;
    border-radius: 10px;
}
.btn-close{
    position: absolute;
    top: 5vh;
    right: 3vw;
    margin: 25px;
    font-size: 20px;
    z-index: 2;
}
.product-arrows{
    position: absolute;
    background-color: #fa1a93ba;
    width: 26px;
    border-radius: 8px;
}

// ---------------------- in other pages which make a view to button link for product  -------------------------

.button-link-div{
    width: 82%;
}
.button-link{
    cursor: pointer !important;
    width: -moz-fit-content;
    width: fit-content;
    background-color: #cd0bff;
    color: white;
    text-transform: capitalize;
    padding: 4px 20px;
    margin-top: 6px;
    font-size: 12px;
}
.button-link:hover{
   color: #cd0bff;
    border: 1px solid #cd0bff;
    font-weight: 600;
}