/* You can add global styles to this file, and also import other style files */
// @import 'node_modules/ngx-toastr/toastr';
*{
    box-sizing: border-box;
    transition: .5s;
}
@media screen and (max-width: 991px) and (min-width: 600px){
    div.global-content-padding{
        padding-top: 103px;
    }
}
@media screen and (max-width: 600px){
    div.global-content-padding{
        padding-top: 0px;
    }
    .carousel-inner .carousel-item img{
        height: 164px;
    }
}
.bg-pink{
    background-color :#cd0bff;
}
.Content{
    padding-bottom: 50px !important;
    padding-top: 10px !important;
}
.global-content-padding{
    padding-top: 132px;
}
.carousel-item img{
    height: 400px;
}
.container {
    position: relative;
    padding: 0px;
}
// for dashboard small img show
.logo-photo{
    height: 80px;
    width: 120px;
    margin: 7px;
    border-radius: 10px;
}



// for dashboard delete view
.delete-show{
    background-color: whitesmoke;
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 496px;
    margin-top: 148px;
    width: 98%;
    z-index: 2;
    border-radius: 5px;
}
.check-data{
    width: 100%;
}
.delete-show .card{
    max-width: 100%;
    text-align: center;
    padding: 10px;
}