/* You can add global styles to this file, and also import other style files */
// @import 'node_modules/ngx-toastr/toastr';

*{
    box-sizing: border-box;
    transition: .5s;
}
@media screen and (max-width: 991px) and (min-width: 600px){
    div.global-content-padding{
        padding-top: 140px;
    }
}
@media screen and (max-width: 600px){
    div.global-content-padding{
        padding-top: 0px;
    }
}
.bg-pink{
    background-color :#cd0bff;
}
.global-content-padding{
    padding-top: 162px;
}
// for dashboard small img show
.logo-photo{
    width: 80px;
    width: 120px;
    margin: 7px;
    border-radius: 10px;
    height: 50px;
    width: 280px;
}