<div class="col-12 home">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item" [ngClass]="{'active' : i === 0}" *ngFor="let item of carasoulImages ; let i=index" >
        <img [src]="item.img" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
</div>

<div class="col-12 bg-pink AlBairaq-Mall-text">
  <div class="container bg-light">
    <div class="col-lg-4">
      <p>AlBairaq Mall </p>
      <ul>  <li>Al Ahmadi Governorate </li>    <li>Kuwait </li>  </ul>
    </div>
    <div class="col-lg-8">
      <a href="https://www.instagram.com/albairaqmall/" target="_blank">  <img src="assets/insta.png" alt="">    </a>
    </div>
  </div>
  <div class="container bg-light products" [ngStyle]="{'height':seeMoreImgs ? 'auto' : '1600px'}">
    <div class="row align-items-start bg-light">
      <div class="col-sm-4 productImg"  *ngFor="let item of images ; let i=index">
        <img [src]="item.img" alt="..." (click)="showProduct(item.img)">
      </div>
    </div>
    <div class="col-12 text-center bg-light btnSeeDiv" *ngIf="!seeMoreImgs">
      <button class="btnSee" (click)="seeMore()">See More</button>
    </div>
  </div>
</div>

<div class="col-12 showImg">
  <button class="btn-close" id="close"></button>
  <img [src]="imgSource" alt="...">
</div>