<!-- ----- Dining ------- -->

<div class="col-12">
  <div class="d-flex justify-content-center">
    <h1 class="part-title">dining part </h1>
  </div>
  <div class="col-12 d-flex justify-content-end">
    <div class="btn btn-info text-light" (click)="openPart('form','carsouel','add')">add data</div>
    <div class="btn btn-info text-light" (click)="openPart('table data','texts','')">show data</div>
    <div class="btn btn-info text-light" (click)="openPart('table data','carsouel','')">show carsouel</div>
  </div>

  <div *ngIf="partViewController=='form'">
    <div class="col-12 dash-content p-2">
      <div class="col-12 dash-content p-2" *ngIf="sectionViewController == 'add' || (sectionViewController== 'edit' && edit_control=='carsouel')">
        <form [formGroup]="homeImg" class="card p-2" (ngSubmit)="sendCarasoulDining()" >
          <label for="logo">Dining Carasoul Image : </label>
          <input type="file" class="form-control" id="logo"  (change)=" uploadDiningCarasoul($event)">
          <span class="text-warning" *ngIf="uploading == 'uploadingDiningCarasoul' "> uploading ... </span> <span><img [src]="CarasoulDiningURL" alt="" class="logo-photo"  *ngIf="uploading == 'uploadedDiningCarasoul'"></span>
          <div class="text-center">
              <button type="submit" class="btn btn-secondary "  *ngIf="uploading == 'uploadedDiningCarasoul'">save</button>
          </div>
        </form>
      </div>
      <div class="col-12 dash-content p-2" *ngIf="sectionViewController == 'add' || (sectionViewController== 'edit' && edit_control=='texts')">
        <form [formGroup]="dining" class="card p-2" (ngSubmit)="sendDiningData()" >
          <div class="form-group">
            <label for="Title">Dining Title : </label>
            <input type="text" class="form-control" id="Title" formControlName="title">
          </div>
          <div class="form-group">
            <label for="paragraph">Dining Pragraph : </label>
            <input type="text" class="form-control" id="paragraph" formControlName="paragraph">
          </div>
          <div class="text-center">
              <button type="submit" class="btn btn-secondary " >save</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-12 table-div" *ngIf="partViewController=='table data'">
    <table class="table table-striped text-center">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" *ngIf="edit_control=='carsouel'">carasoul</th>
          <th scope="col" *ngIf="edit_control=='texts'">title</th>
          <th scope="col" *ngIf="edit_control=='texts'">paragraph</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of datalist;let i=index">
          <th scope="row" class="item">{{i+1}}</th>
          <td *ngIf="edit_control=='carsouel'"><img [src]="item.img" class="imgView" alt=""></td>
          <td *ngIf="edit_control=='texts'" class="titleContent"><p>{{item.title}}</p></td>
          <td *ngIf="edit_control=='texts'" class="paragraphContent"><p>{{item.paragraph}}</p></td>
          <td class="item">
            <button class="btn btn-warning m-1" (click)="openPart('form',edit_control,'edit');update(item,'edit')">edit</button>  
            <button class="btn btn-danger m-1" (click)="deleteItem(item,'delete')">delete</button>  
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>